# Importing and preparing supermarkets data

## Libraries and settings

In [145]:
# Libraries
import os
import fnmatch
import pandas as pd

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Get current working directory
print('Current working directory:', os.getcwd())

# Show .json files in the current working directory
flist = fnmatch.filter(os.listdir('.'), '*.json')
for i in flist:
    print(i)

Current working directory: /workspaces/data_analytics/Week_02
supermarkets.json

## Importing data

In [146]:
# Read the data to a pandas data frame
df1 = pd.read_json('supermarkets.json', encoding='utf-8')
df1.head(5)

,type,id,lat,lon,tags
0,node,33126515,47.155616,9.037915,"{'brand': 'Spar', 'brand:wikidata': 'Q610492',..."
1,node,36726161,47.226191,8.980329,"{'addr:city': 'Uznach', 'addr:housenumber': '2..."
2,node,39768209,47.225069,8.969981,"{'addr:city': 'Uznach', 'addr:postcode': '8730..."
3,node,39947904,47.376732,8.542161,"{'addr:city': 'Zürich', 'addr:country': 'CH', ..."
4,node,48932835,47.375020,8.522895,"{'addr:city': 'Zürich', 'addr:housenumber': '7..."

## Count number of rows and columns in the data frame

In [147]:
# Dimension (rows, columns)
print('Dimension:', df1.shape)

# Number of rows
print('Number of rows:', df1.shape[0])

# Number of columns
print('Number of columns:', df1.shape[1])

Dimension: (3392, 5)
Number of rows: 3392
Number of columns: 5

## Column 'tags' is a pandas Series with dictionaries -> change to data frame

In [148]:
# Type of the first item of column tags
print(type(df1.tags))
print(type(df1.tags[0]))

# Content of the first item of column tags
print(df1.tags[0].keys())

# Change to data frame
df2 = pd.DataFrame.from_records(df1.tags)
df2 = df2[['brand', 'shop', 'addr:city', 'addr:street', 'addr:housenumber', 'addr:postcode']]

# Rename selected columns
df2 = df2.rename(columns={'addr:city': 'city',
                          'addr:street':'street',
                          'addr:housenumber': 'housenumber',
                          'addr:postcode': 'postcode'})

# Show first records of data frame
df2.head()

<class 'pandas.core.series.Series'>
<class 'dict'>
dict_keys(['brand', 'brand:wikidata', 'brand:wikipedia', 'name', 'opening_hours', 'shop'])

    brand         shop    city          street housenumber postcode
0    Spar  supermarket     NaN             NaN         NaN      NaN
1  Migros  supermarket  Uznach  Zürcherstrasse          25     8730
2    Coop  supermarket  Uznach             NaN         NaN     8730
3    Coop  supermarket  Zürich   Bahnhofbrücke           1     8001
4  Migros  supermarket  Zürich    Wengistrasse           7     8004

## Merge df1 and df2

In [149]:
# Merge df and df2
df = pd.merge(df1[['type', 'id', 'lat', 'lon']], 
              df2[['brand', 'shop', 'city', 'street', 'housenumber', 'postcode']],
              left_index=True, 
              right_index=True)
df.head(5)

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,NaN
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,Zürcherstrasse,25,8730
2,node,39768209,47.225069,8.969981,Coop,supermarket,Uznach,NaN,NaN,8730
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,Bahnhofbrücke,1,8001
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,Wengistrasse,7,8004

## Count and identify the number of missing values (if any)

In [150]:
# Count missing values
print(pd.isna(df).sum())

# Identify rows with missing values, e.g.:
df.loc[pd.isna(df['city'])]

type              0
id                0
lat               0
lon               0
brand          1065
shop              0
city           1777
street         1608
housenumber    1680
postcode       1709
dtype: int64

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,NaN
5,node,60271452,47.406671,9.305450,NaN,supermarket,NaN,NaN,NaN,NaN
6,node,70656485,47.491253,8.733981,NaN,supermarket,NaN,NaN,NaN,NaN
10,node,81321513,47.532917,9.066408,Landi,supermarket,NaN,NaN,NaN,NaN
13,node,95582038,47.050385,9.059214,NaN,supermarket,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3384,node,11083317088,46.862184,9.531169,Lidl,supermarket,NaN,NaN,NaN,NaN
3386,node,11098091830,46.205111,6.130174,Coop,supermarket,NaN,NaN,NaN,NaN
3387,node,11099817248,46.928691,7.561873,NaN,supermarket,NaN,NaN,NaN,NaN
3388,node,11103235832,46.166742,8.771970,Migros,supermarket,NaN,NaN,NaN,NaN
3391,node,11129298207,47.537518,7.608581,Coop,supermarket,NaN,NaN,NaN,NaN

## Count and identify duplicated values (if any)

In [151]:
# Count duplicated values
print(df.duplicated().sum())

# Identify rows with duplicated values, e.g.:
df[df[['id']].duplicated()]

0

Empty DataFrame
Columns: [type, id, lat, lon, brand, shop, city, street, housenumber, postcode]
Index: []

## Get data types of all variables

In [152]:
# Get data types (note that in pandas, a string is referred to as 'object')
df.dtypes

type            object
id               int64
lat            float64
lon            float64
brand           object
shop            object
city            object
street          object
housenumber     object
postcode        object
dtype: object

### Save data to file

In [153]:
df.to_csv('supermarkets_data_prepared.csv', 
          sep=",", 
          encoding='utf-8',
          index=False)

### Task 3 Additional filters on supermarkets

In [154]:
# f)
df_filtered = df.loc[(df['brand'] == 'Migros') & (df['city'] == 'Zürich')]

In [155]:
# g)
df_filteredc = df.loc[(df['brand'] == 'Coop') & (df['city'] == 'Zürich') | (df['city'] == 'Bern') | (df['city'] == 'Basel')]
print(df_filteredc.shape)

(125, 10)

In [156]:
#h)
df_filtered_supermarkets = df[df['brand'].notnull() & df['city'].notnull() & df['housenumber'].notnull() & df['postcode'].notnull()]
print(df_filtered_supermarkets)

      type           id        lat       lon   brand         shop  \
1     node     36726161  47.226191  8.980329  Migros  supermarket
3     node     39947904  47.376732  8.542161    Coop  supermarket
4     node     48932835  47.375020  8.522895  Migros  supermarket
7     node     70656488  47.491874  8.706448  Migros  supermarket
8     node     75749133  47.340967  8.530601    ALDI  supermarket
...    ...          ...        ...       ...     ...          ...
3350  node  10814018169  47.353857  8.436716    Coop  supermarket
3362  node  10982669725  47.349782  8.258690    ALDI  supermarket
3370  node  11025130806  47.059301  7.620697  Denner  supermarket
3378  node  11049758254  47.338327  8.520261    Spar  supermarket
3385  node  11096932868  46.309025  7.969107  Denner  supermarket

                  city          street housenumber postcode
1               Uznach  Zürcherstrasse          25     8730
3               Zürich   Bahnhofbrücke           1     8001
4               Zürich    Wengistrasse           7     8004
7           Winterthur  Zürcherstrasse         102     8406
8               Zürich    Albisstrasse          81     8038
...                ...             ...         ...      ...
3350  Birmensdorf (ZH)  Zürcherstrasse           9     8903
3362        Villmergen        Grenzweg           3     5612
3370          Burgdorf  Lyssachstrasse          27     3400
3378            Zürich  Spinnereiplatz           4     8041
3385         Brig-Glis  Kantonsstrasse          58     3902

[1148 rows x 10 columns]

In [157]:
# i)
df3 = pd.DataFrame.from_records(df1.tags)
df3 = df3[['type','brand', 'shop', 'addr:city', 'addr:street', 'addr:housenumber', 'addr:postcode', 'opening_hours' ]]
df3 = df3.rename(columns={'addr:city': 'city',
                          'addr:street':'street',
                          'addr:housenumber': 'housenumber',
                          'addr:postcode': 'postcode'})
print(df3)

     type   brand         shop      city           street housenumber  \
0     NaN    Spar  supermarket       NaN              NaN         NaN
1     NaN  Migros  supermarket    Uznach   Zürcherstrasse          25
2     NaN    Coop  supermarket    Uznach              NaN         NaN
3     NaN    Coop  supermarket    Zürich    Bahnhofbrücke           1
4     NaN  Migros  supermarket    Zürich     Wengistrasse           7
...   ...     ...          ...       ...              ...         ...
3387  NaN     NaN  supermarket       NaN              NaN         NaN
3388  NaN  Migros  supermarket       NaN              NaN         NaN
3389  NaN     NaN  supermarket    Wil SG       Marktgasse          38
3390  NaN     NaN  supermarket  Adliswil  Dietlimoosplatz           1
3391  NaN    Coop  supermarket       NaN              NaN         NaN

     postcode                                      opening_hours
0         NaN  Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
1        8730  Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17...
2        8730                                                NaN
3        8001                                  Mo-Sa 06:00-22:00
4        8004                          Mo-Sa 08:00-21:00; PH off
...       ...                                                ...
3387      NaN  Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 07:30-17:00
3388      NaN  Mo-Fr 07:30-19:00; Th 07:30-20:00; Sa 07:30-18:30
3389     9500                                                NaN
3390     8134                                                NaN
3391      NaN           Mo-Fr 7:00-19:00; Sa 08:00-17:00; PH off

[3392 rows x 8 columns]

In [165]:
#j)
df_filtered_supermarkets = df[df['opening_hours'].notnull()]
#verstehe nicht wieso opening_hours nicht verfügabr ist

KeyError: 'opening_hours'

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.2.0-1015-azure
Datetime: 2023-11-07 18:59:13
Python Version: 3.10.13
-----------------------------------